# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Build folders
[Dd]ebug/
[Rr]elease/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio Collateral
*.opensdf
*.sdf
*.obj
*.pch
*.idb
*.pdb
*.map
*.pchast
*.dep
*.suo
*.aps
*.psess
*.SCC
*.tlog
*.res
*.old
*.log
*.filters
*.user
*.ilk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
